body {
    background-color: #8bc2cc; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0; 
    padding: 0; 
}


#container {
    width: 80%; 
    margin: 20px auto; 
    border: 3px solid #dadadf; 
    background-color: #dadadb;
    padding: 100px; 
    box-shadow: 0 0 10px #440b27;
}

#header {
    text-align: center; 
    border-bottom: 2px solid #c9c377; 
    padding-bottom: 10px; 
    margin-bottom: 5px; 
}


.subtitle {
    color: #5ca4a4; 
    font-style: italic;
}


#main {
    display: flex; 
}


#sidebar {
    width: 25%;
    background-color: #d7d6dd; 
    padding: 10px; 
    border-radius: 8px; 
    font-weight: bold; 
    margin-left: 10px;
}


#sidebar h2 {
    border-bottom: 2px solid rgb(203, 221, 224); 
    padding-bottom: 5px; 
    color: rgb(10, 22, 37); 
}


#sidebar ul {
    list-style-type: disc; 
    margin-left: 20px; 
}


#sidebar li a {
    color: #fff; 
    text-decoration: none; 
}


#sidebar li a:hover {
    text-decoration: underline; 
}

#content {
    width: 70%; 
    margin-left: 5%; 
}


.post {
    border: 2px solid #b2e0df; 
    background-color: #f2fdfd; 
    padding: 15px; 
    margin-bottom: 15px;
    border-radius: 8px; 
    margin-right: 10px;
}


.post h3 {
    color: #2c7a7b; 
}


.date {
    color: #008cba; 
    font-weight: bold; 
}




